body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 80px;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
    width: 90%;
    max-width: 450px;
    margin-bottom: 20px;
}

.search-box {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.weather-info p{
    text-transform: capitalize;
}

.hidden {
    display: none;
}

.temp-box {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.forecast-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    max-height: 200px;
    overflow-y: auto;
}

.forecast-card {
    background: #e9ecef;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1; 
    text-align: center;      
    padding: 15px 0;         
    color: #000;             
    font-size: 0.9rem;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}